.DS_Store
node_modules
dist
dist-ssr
*.local

# editor / IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
test-results/
playwright-report/
playwright/.cache/
